<div class="nav">
  <h1>Testes</h1>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">home</a></li>
    <li><a routerLink="/teste1" routerLinkActive="active">Teste1</a></li>
    <li><a routerLink="/teste2" routerLinkActive="active">Teste2</a></li>
    <li><a routerLink="/teste3" routerLinkActive="active">Teste3</a></li>
    <li><a routerLink="/teste4" routerLinkActive="active">Teste4</a></li>
    <li><a routerLink="/teste5" routerLinkActive="active">Teste5</a></li>
    <li><a routerLink="/teste6" routerLinkActive="active">Teste6</a></li>
    <li><a routerLink="/teste7" routerLinkActive="active">Teste7</a></li>
    <li><a routerLink="/teste8" routerLinkActive="active">Teste8</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
